

/* Styling of Hero Section ... */
.hero {
    background-image: url('images/free-photo-ramadan-kareem-eid-mubarak-royal-elegant-lamp-with-mosque-holy-gate-with-fireworks.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #0056b3; 
}


/* The Styling of Programs Section... */
.programs {
    padding: 50px 20px;
    text-align: center;
}

.program-card {
    background-color: #f9f9f9; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust as needed */
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 300px; /* Adjust as needed */
    vertical-align: top;
    text-align: left;
}

.program-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.program-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.program-button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #007bff; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.program-button:hover {
    background-color: #0056b3; /* Adjust as needed */
}